
/* Header */

body {
    margin: 0;
    min-height: 100vh;
}

.top{
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 45px;

}

.left-header-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    margin-top: 25px;
    height: 24px;
    color: #F9FAF8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.right-header-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 29px;
    padding-right: 80px;
    margin-top: 25px;
    height: 18px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

img {
    width: 600px;
    height: 225px;
}

.main-title {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.second-title{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 150px;

}

.image-header {
    display: flex;
    padding-right: 80px;
    padding-bottom: 30px;

}

.title {
    height: 48px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.content-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 18px;
    padding-bottom: 50px;
    color: white;
    font-size: 18px;


}

button {
    display: flex;

}

.sign-up {
    height: 36px;
    width: 110px;
    border-radius: 20px;
    border-color: royalblue;
    color: white;
    background-color: royalblue;
    align-self: flex-start;
    padding-left: 28px;
    padding-top: 8px;

}

/* Information  */

.information
{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.mid-information{

    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.top-information{
    align-self: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.icon {
    height: 190px;
    width: 190px;
    border-radius: 18px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    padding: 3px;
    border-radius: 20px;
}

.header-information {
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.text {
    font-size: 18px;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
    padding-left: 200px;
    background-color: #E5E7EB;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 60px;
    padding-bottom: 50px;
}

.first-text{
    font-size: 36px;
    font-style: italic; 
    color: #1f2937;

}

.second-text{
    font-size: 28px;
    align-self: flex-end;

}

/* Action section */

.action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.button-action{
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #3882f6;
    border-color: white;
    color: white;

    font-size: 18px;
}

.container{
    display: flex;
    justify-content: space-around ;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;
    border-radius: 15px;
    background-color: #3882f6;
    gap: 25px;

}

.first-action {
    font-size: 30px;  
}

.second-action {
    font-size: 18px;
}

.fotter {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}